/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #F0533E;
  --matr-navbar-bg-rgb: 240, 83, 62, 255;
  --matr-navbar-text-color: black;
  --matr-navbar-highlight-text: green;
}

#color {
  font-family:"Ink Free", cursive;
  font-size: 45px;
  font-weight: bolder;
  color: whitesmoke;
}

#color {
  font-family:"Ink Free", cursive;
  font-size: 40px;
  font-weight: bolder;
  color: lightgoldenrodyellow;
}

.font2 {
  font-family: "Copperplate Gothic Light", cursive;
  font-size: 25px;
  font-weight: bold;
}

.font3 {
  font-family: Papyrus, cursive;
  font-size: 25px;
  font-weight: bold;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background-image: url("https://cdn.pixabay.com/photo/2018/07/09/04/07/art-3525343_960_720.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

